.rewards-subheader {
  display: flex;
  padding: 0px 20%;
  justify-content: space-between;
  margin-top: 50px;
}

#rewards-subheader-text h2 {
  color: #282828;
  font-weight: lighter;
  font-size: 22px;
  margin-bottom: 0px;
  margin-top: 0px;
}

#rewards-subheader-text p {
  color: #656969;
  font-size: 14px;
  margin-top: 5px;
}

.rewards-subheader button {
  width: 205px;
  height: 50px;
  box-sizing: border-box;
  padding: 0px 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.5s;
}

.rewards-subheader button:hover {
  background-color: #4d4d4d;
  margin-top: -1px;
  margin-bottom: 1px;
}
