#home-gallery {
  padding: 0px 12% 0px 12%;
  height: 815px;
  box-sizing: border-box;
}

#home-gallery > h1 {
  font-weight: lighter;
  color: #282828;
  margin-top: 43px;
  font-size: 26px;
}

#galleries {
  display: flex;
  justify-content: flex-start;
}

#feature > p {
  font-size: 12px;
  color: #282828 !important;
}

#feature {
  color: #282828;
}

#feature:hover {
  color: #037362;
}

#featured-image{
  height: 605px;
  width: 605px;
  border-top: 1px solid black;
  box-sizing: border-box;
  color: #282828;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
}

#feature-titles {
  position: relative;
      bottom: 165px;
      left: 20px;
      width: 80%;
      padding-top: 7px;
}

#feature-titles h1{
  font-weight: lighter;
  display: table;
  background-color: white;
  font-size: 29px;
  padding: 11px;
  margin: 0px;
  max-width: 90%;
}

#feature-titles h4 {
  font-weight: lighter;
  display: table;
  background-color: white;
  font-size: 16px;
  text-transform: capitalize;
  padding: 7px;
  margin: 0px;
  margin-top: -8px;
}

#feature-titles h5 {
  background-color: white;
display: inline-block;
font-weight: bolder;
padding: 5px;
/* color: #282828; */
margin-top: 10px;
font-size: 14px;
}

#featured-image img {
  width: auto;
  height: 100%;
}

#gallery-options {
  border-top: 1px solid black;
  margin-left: 100px;
  width: 700px;
  height: 605px;
  margin-top: 42px;
}

#gallery-options ul {
  width: 100%;
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}

#gallery-options ul li {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 102px;
  width: 100%;
  min-width: 300px;
  padding: 18px 0px;
  border-bottom: 1px solid #dcdedd;
  font-size: 14px;
}

#gallery-options ul li a {
  color: #282828;
  text-decoration: none;
}

#gallery-options ul li a:hover {
  color: #037362;
  text-decoration: underline;
}

#gallery-options ul li p {
  color: #9B9E9E;
  font-size: 12px;
  margin: 5px 0px;
}

#gallery-thumb {
  width: 115px;
  min-width: 115px;
  height: 65px;
  margin-right: 30px;
  overflow-y: hidden;
  background-color: transparent;
}

#gallery-thumb img {
  width: 100%;
  height: auto;
}
