.basic-header {
  display: flex;
  height: 42px;
  padding: 12px 24px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #656969;
  background-color: white;
  min-width: 1102px;
}

.setup-header {
  margin: 0 auto;
  width: 85%;
  display: flex;
  height: 42px;
  padding: 12px 24px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #E8E8E8;
}

.new-prj-header {
  display: flex;
  height: 70px;
  padding: 12px 24px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #E8E8E8;
}

.new-prj-nav {
  display: flex;
  height: 48px;
  padding: 12px 24px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #E8E8E8;
}

#div1 {width: 33%;}
#div2 {width: 34%;}
#div3 {
  width: 33%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#div5 {
  width: 50%;
  display: flex;
  align-items: center;
}

#div5 p {
  display: inline;
}

#div5 a:first-child {
  margin-right: 20px;
  margin-left: 0px;
}

#div5 a, #div6 a {
  font-size: 16px;
  margin-right: 20px;
  margin-left: 20px;
}

#div6 {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.fa-caret-right {
  color: #E8E8E8;
}

#search-button {
  font-size: 14px;
  color: #282828;
  margin-right: 20px;
  cursor: pointer;
}

#search-button:hover {
  color: #037362
}

.fa-search {
  margin-left: 5px;
}

#div3 a {float: right;}

.basic-header a, .setup-header a, .new-prj-header a, .new-prj-nav a {
  text-decoration: none;
  font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #282828;
}

.basic-header a:hover, setup-header a:hover, .new-prj-header a:hover, .new-prj-nav a:hover {
  color: #037362;
}

.logo {
  font-family: 'Modak', cursive;
  font-size: 27px;
  color: #034752;
  text-align: center;
}
.nav-logo {
  font-family: 'Modak', cursive;
  font-size: 27px;
  color: #034752;
}

.profilePic {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: white;
  border: 0px;
  padding: 0px;
  float: right;
  transition: box-shadow 0.3s;
}

.profilePic:hover {
  cursor: pointer;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.3);
}

.profilePic:focus {
  outline: 0px;
}

.fa-user-circle {
  color: #282828;
  font-size: 35px;
  transition: font-size 0.3s;
}

.fa-user-circle:hover {
  font-size: 35.3px;
}

.user-menu {
  width: 725px;
  height: 450px;
  border: 1px solid #9b9e9e;
  background-color: white;
  position: absolute;
  right: 18px;
  top: 62px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}

.user-menu header {
  height: 24px;
  padding: 32px 36px 16px 36px;
  font-size: 18px;
  font-weight: bold;
  color: #282828;
}

.user-menu main {
  display: flex;
  justify-content: flex-end;
  height: 280px;
}

#ddm-project-list {
  width: 340px;
  list-style: none;
  box-sizing: border-box;
  margin: 0px;
}

#ddm-project-list h3 {
  margin: 0px 0px 10px 0px;
  font-size: 13px;
  font-weight: bold;
  color: #282828;
}

#ddm-project-list li a {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  float: none;
}

#ddm-project-list li a h6 {
  margin: 0px 0px 0px 15px;
  font-weight: lighter;
  font-size: 14px;
}

#ddm-project-list li a:hover {
  text-decoration: underline;
}

#li-prj-img {
  width: 50px;
  height: 30px;
  background: grey;
  overflow-y: hidden;
  display: flex;
  align-items: center;
}

#thumb-render {
  width: 100%;
  height: auto;
}

.transparent-back {
  background-color: transparent !important;
}

.user-menu footer {
  height: 21px;
  padding: 24px 36px;
  border-top: 1px solid #dcdedd;
}

.user-menu footer button {
  background-color: white;
  border: 0px;
    color: #282828;
    font-size: 14px;
}

.user-menu footer button:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #037362;
}

.hidden {
  display: none !important;
}
