.basics-wrapper header, .profile-wrapper header {
  border-bottom: 1px solid #dcdedd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 212px;
  box-sizing: border-box;
  padding: 0px 25%;
}

.profile-wrapper header {
  align-items: flex-start;
}

.basics-wrapper header h1, .profile-wrapper header h1 {
  margin-bottom: 0px;
  font-weight: lighter;
  color: #282828;
  font-size: 26px;
  letter-spacing: 1.1px;
}

.basics-wrapper header h2, .profile-wrapper h3 {
  margin-top: 19px;
    font-weight: lighter;
    color: #656969;
    font-size: 17.6px;
    letter-spacing: 0px;
    text-align: center;
}

.basics-form, .profile-form {
  padding-bottom: 50px;
}

.form-li {
  border-bottom: 1px solid #dcdedd;
  display: flex;
  justify-content: space-between;
  padding: 50px 12%;
}


.li-text {
  max-width: 450px;
  flex-grow: 1;
  padding-right: 70px;
}
.li-text h6{
  margin: 0px;
  font-size: 18px;
  font-weight: lighter;
  color: #282828;
  letter-spacing: 1px;
}
.li-text p{
  margin: 0px;
  color: #656969;
  font-weight: lighter;
  font-size: 14px;
  line-height: 24px;
  margin-top: 12px;
  letter-spacing: .6px;
}

.li-inputs {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  min-width: 450px;
  max-width: 650px;
}

.li-inputs label {
  font-size: 15.2px;
    color: #282828;
    font-weight: lighter;
    letter-spacing: .6px;
    margin-bottom: 12px;
}

.li-inputs input {
  margin-bottom: 43px;
  min-width: 450px;
  max-width: 650px;
  box-sizing: border-box;
  padding: 12px;
  height: 42px;
  border: 1px solid #dcdedd;
}


.li-inputs input:focus {
  outline: none;
  border: 1px solid #009e74;
}

.li-inputs input:hover {
  border: 1px solid #009e74;
}

.li-inputs textarea {
  height: 200px;
  padding: 12px;
  font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.li-inputs textarea:focus {
  border: 1px solid #009e74;
  outline: none;
}
.li-inputs textarea:hover {
  border: 1px solid #009e74;
}

#category-button-basics{
  position: relative;
  width: 450px;
  box-sizing: border-box;
  top: 0px;
}

#country-button-basics {
  position: relative;
  width: 450px;
  box-sizing: border-box;
  top: 0px;
}

#ddm-basics {
    width: 450px;
    position: relative;
    top: 5px;
    margin: 0px;
    height: 200px;
}


#ddm-countires-basics {
  width: 450px;
  height: 200px;
  box-sizing: border-box;
  position: relative;
  top: 5px;
  margin: 0px;
}

#image-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#add-image-label {
  width: 100%;
  background-color: #fbfbfa;
  border: 1px dashed #dcdedd;
  transition: border 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#no-image {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#add-image-label:hover {
  border: 1px dashed #009e74;
  cursor: pointer;
}

#pic-icon-circle {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.17);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
  margin-bottom: 25px;
}

#pic-icon-circle i {
  font-size: 20px;
}

.project-image-render {
  width: 100%;
  height: auto;
}

.story-wrapper {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #dcdedd;
  align-items: center;
}

.story-wrapper div:first-child {
  border-bottom: 0px;
}

.story-wrapper textarea {
  padding: 48px 60px;
  height: 100%;
  border-color: #dcdedd;
  width:76%;
  box-sizing: border-box;
  height: 320px;
  margin-bottom: 25px;
  font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #282828;
  font-size: 16px;
}

.story-wrapper textarea:focus {
  outline: none;
}

.basics-wrapper footer, .profile-wrapper footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #fbfbfa;
  padding: 25px;
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #dcdedd;
}

.basics-wrapper footer button, .profile-wrapper footer button {
  width: 170px;
  margin-left: 10px;
  height: 42px;
  border: none;
  background-color: #009E74;
  color: white;
  font-size: 14px;
  transition: background-color 0.5s, margin-top 0.5s, margin-bottom 0.5s;
}

.basics-wrapper footer button:hover, .profile-wrapper footer button:hover {
  background-color: #037362;
  cursor: pointer;
  margin-top: -1px;
}

.basics-wrapper footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 170px;
  margin-left: 10px;
  height: 42px;
  border: none;
  background-color: #034752;
  color: white;
  font-size: 14px;
  transition: background-color 0.5s, margin-top 0.5s, margin-bottom 0.5s;
}

.basics-wrapper footer a:hover {
  background-color: #023239;
  margin-top: -1px;
  margin-bottom: 1px;
}

.basics-form div:last-child, .profile-form div:last-child {
  margin-bottom: 42px;
}

#footer-errors {
  height: 42px;
display: flex;
align-items: center;
background-color: #dd919d;
padding: 0px 12px;
font-size: 15px;
color: #383838;
}
