.overview-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overview-wrapper header {
  height: 289px;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid #dcdedd;
  align-items: center;
}

.overview-wrapper header h1 {
  margin: 0px;
  font-weight: 100;
  font-size: 37.5px;
  margin-top: 100px;
  color: #282828;
  width: 80%;
}

.overview-wrapper h3 {
  width: 80%;
  font-weight: 100;
  font-size: 16px;
  color: #282828;
}

.overview-wrapper h4 {
  width: 79%;
  font-weight: lighter;
  font-size: 18px;
  color: #282828;
  margin-top: 52px;
  margin-bottom: 2px;
}

.overview-wrapper > p {
  margin: 0px;
  font-size: 14px;
  font-color: inherit;
  color: #656969;
  margin-top: 5px;
  width: 79%;
}

.overview-nav {
  width: 79%;
}

.overview-nav > h2 {
  font-weight: 100;
  color: #282828;
  font-size: 21px;
  margin-top: 51px;
  margin-bottom: 26px;
}

.overview-nav a {
  height: 103px;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 0px ;
  text-decoration: none;
}

.overview-nav a:hover {
  background-color: #fbfbfa;
}

.overview-nav a:last-child {
  border-bottom: 1px solid #e8e8e8;
}


.overview-nav h3 {
  text-decoration: none;
  color: #282828;
  font-size: 18px;
  margin: 0px;
}

.overview-nav p {
  margin: 0px;
  font-size: 14px;
  font-color: inherit;
  color: #95959E;
  margin-top: 5px;
}

.fa-check {
  margin: 0px 15px 0px 5px;
  border: 1px solid #dcdedd;
  border-radius: 50%;
  padding: 10px;
  color: #dcdedd;
  background-color: white;
}

.nav-item-complete {
  background-color: #037362 !important;
  color: white !important;
  border-color: white !important;
}

.overview-wrapper footer {
  width: 100%;
  border-top: 1px solid #dcdedd;
  margin-top: 54px;
  padding-top: 50px;
  padding-left: 190px;
}

.overview-wrapper footer button {
  color: #656969;
  background: white;
  border: 0px;
  font-size: 16px;
  padding: 10px;
}

.overview-wrapper footer button:hover {
  color: #282828;
  background-color: #f0f0f0;
}

.fa-trash-o {
  font-size: 20px;
  margin-right: 7px;
}
