.project-main {
  height: auto;
  padding: 0px 15% 30px 15%;
  width: 100%;
  box-sizing: border-box;
  background-color: #fbfbfa;
  border-bottom: 1px solid #dcdedd;
}

.project-main section:first-child {
  height: 210px;
  margin: 0px 0px 36px 0px;
  padding: 54px 0px 0px 0px;
  box-sizing: border-box;
  display: flex;
}

.project-main section:last-child {
  display: flex;
  margin: 0px 0px 0px 0px;
}

#admin-info {
  padding: 0px;
  width: 180.5px;
  box-sizing: border-box;
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;

}

#admin-pic {
  background-color: black;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  margin-bottom: 20px;
}

#admin-info span{
  color: #282828;
  font-size: 14px;
  height: 24px;
  display: flex;
  align-items: center;
}

#project-titles h1 {
  margin: 0px;
    font-weight: lighter;
    font-size: 41px;
    color: #282828;
    max-width: 750px;
}
#project-titles h3 {
  max-width: 750px;
  font-weight: lighter;
  color: #656969;
  margin-top: 20px;
  font-size: 18px;
  margin-bottom: 0px;
}

#edit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 100px;
  height: 42px;
  border: none;
  background-color: #034752;
  color: white;
  font-size: 14px;
  transition: background-color 0.5s, margin-top 0s, margin-bottom 0s;
}

#edit-button:hover {
  background-color: #023239;
  margin-top: -1px;
  margin-bottom: 1px;
}

#main-left {
  width: 66%;
}

#project-picture {
  width: 100%;
  max-width: 820px;
  height: auto;
  max-height: 460px;
  background-color: grey;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow-y: hidden;
}

#project-picture h1 {
  font-weight: lighter;
  color: #282828;
}

#prj-page-image {
  width: 100%;
  height: auto;
}

#misc-info {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 5px;
}

#misc-info i {
  margin-right: 6px;
  font-size: 22px;
  color: #282828;
}

#misc-info a {
  font-size: 12px;
  padding-top: 5px;
}

#main-right {
  margin-left: 2%;
  width: 34%;
  max-width: 450px;
  min-width: 300px;
}

#money-bar {
  position: relative;
  height: 3px;
  width: 100%;
  background-color: #e8e8e8;
  margin-bottom: 20px;
}

#green-money-bar {
  position: relative;
  top: -23px;
  height: 3px;
  width: 50%;
  background-color: #037362;
}

#money-green {
  color: #037362 !important;
}

#main-right h5 {
  color: #282828;
  margin: 0px;
  font-size: 24px;
  font-weight: lighter;
}
#main-right h6 {
  margin-top: 2px;
  font-size: 14px;
  font-weight: lighter;
  color: #656969;
  margin-bottom: 19px;
}

#prj-nav {
  border-bottom: 1px solid #dcdedd;
  height: 71px;
  width: 100%;
  background-color: white;
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0px;
  box-sizing: border-box;
  padding-left: 20%;
}

#prj-nav li {
  font-size: 14px;
  font-weight: bold;
  color: #282828;
  border-bottom: 3px solid #282828;
  border-top: 3px solid white;
  padding: 24px 0px;
}

#project-bottom {
  padding: 30px 20% 30px 14%;
  display: flex;
}

#prj-story {
  width: 70%;
  padding-right: 30px;
}

#prj-story h1, #prj-rewards h1 {
  font-weight: lighter;
  color: #282828;
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 25px;
}

#prj-rewards {
  width: 30%;
}

#prj-story p {
  color: #282828;
  line-height: 33px;
}
